body {
    margin: 0 auto;
    max-width: 50em;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 4em 1em;
}

#titleDescription {
    line-height: 0.1;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
    line-height: 1.5;
}

h1 {
    line-height: 0.1;
}

body {
    color: black;
}

h2 {
    color: #333;
}

div { background-color: lightgrey;}

.job {
    width: 600px;
    height: 2400px;
    padding: 10px;
}

.study {
    width: 600px;
    height: 800px;
    padding: 10px;
}


p {
    line-height: 1.5;
}

.lightText {
    line-height: 0.2;
    color: darkblue;
}